spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: inventory-service
              uri: lb://inventory-service
              predicates:
                - Path=/inventory-service/**

            - id: order-service
              uri: lb://order-service
              predicates:
                - Path=/order-service/**

            - id: item-service
              uri: http://localhost:3000
              predicates:
                - Path=/item-service/**

            - id: py-service
              uri: http://localhost:5000
              predicates:
                - Path=/py-service/**

server:
  port: 8080
eureka:
  client:
    service-url:
        defaultZone: http://localhost:8761/eureka/